# Flutter/Dart
.dart/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
*~
.*.sw*
*.swp

# Android
.gradle/
android/.gradle/
android/local.properties
android/key.properties
*.iml
android/app/debug
android/app/profile
android/app/release
*.apk
*.aab

# IDE
.idea/
.vscode/
*.iml
.DS_Store
